@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.main{
background-color: #393F49;

}

h1,h2,h3,h4,p{
  color:#fff
}
.navx p {
  font-size: 18px;
  cursor:pointer;
}

@media only screen and (max-width: 992px) {
  .navx p {
    margin-top: 50px;
  }
}
.blue{
  color: #61DBFB
}
.disabled{
  color: #9a9a9a;
}
.header-input{
  width: 350px;
  outline:none;
  border:none;
  border-radius: 5px;
  padding: 8px;
  
}
.header-button{
  width:100px;
  background-color: #61DBFB;
  color: #fff;
  outline:none;
  border:none;
  padding:8px;
  margin-left: 10px;
  border-radius:2px;
}

@media only screen and (max-width: 522px) {
  .header-input {
    width: 250px;
  }
}
@media only screen and (max-width: 422px) {
  .header-input {
    width: 180px;
  }
}

.task-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top:20px;
 

}
.task-list-item{
  font-size:16px;
  color:#f1f1f1;
  border-top: 1px solid #8D9196;
  padding: 20px 40px;
  position:relative;
  
}

.trash-icon{
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 25px;
  fill: #8D9196;
}
.trash-icon:hover{
  cursor:pointer;
  fill: #ff5450;
  
}

.check-icon{
  position: absolute;
  left:0;
  top:20px;
  font-size: 25px;
  fill: #8D9196;
}
.check-icon:hover{
  cursor:pointer;
  fill: #61e786;
  
}


.restart-icon{
  position: absolute;
  left:0;
  top:20px;
  font-size: 25px;
  fill: #8D9196;
}
.restart-icon:hover{
  cursor:pointer;
  fill: #61DBFB; 
}

.complete {
  text-decoration: line-through
}